<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>奇点网管理员-登录页面</title>
		<!-- Bootstrap Styles-->
		<link href="/assets/css/bootstrap.css" rel="stylesheet" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	
	<body>
		
	