<% include ./header %>


<div class="jumbotron">
	<h1 class="index_h1">WELCOME TO PODIA</h1>
	<div class="admin_index_img">
		<img src="/images/con1.png" />
	</div>
	
	<!--<p>
		<a class="btn btn-primary btn-lg" href="#" role="button">READY</a>
	</p>-->
</div>


<% include ./footer %>