

<!DOCTYPE html>
<html>
<head>
<title>MOBAN</title>
<link href="/css/login.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!--webfonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
	<h1>添加管理员</h1>
		<div class="app-location">
			<div class="line"><span></span></div>
			<div class="location"><img src="images/location.png" class="img-responsive" alt="" /></div>
			<form action="/test/adminInsert" class="userForm" method="post">
				<input type="text" class="text" value="username" name="username" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'username';}" >
				<input type="password" value="Password" name="password" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'password';}">
				<div class="input-group">	
					<div class="form-control">
						<input type="text" name="code" value="username" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'telephone';}"/>
					</div>
				</div>
				<div class="submit"><input type="submit" onClick="myFunction()" value="注册" ></div>
			</form>
		</div>
	<!--start-copyright-->
   		<div class="copy-right" style="height: 100px;">
   			
		</div>
	<!--//end-copyright-->
</body>
</html>