<% include ../admin/header %>

    <!-- 路径导航 -->
	<ol class="breadcrumb">
	    <li>    
            <a href="/test/adminAdd">添加管理员</a>
        </li>
        <li>    
            <a href="/test/code">验证码</a>
        </li>
	</ol>
	<!-- 路径导航 END -->

<% include ../admin/footer %>